.container {
  width: 100vw;
}
.main-wrapper {
  display: flex;
  margin: 1.5rem 5rem 1.5rem 5rem;
  .main {
    width: 80%;
    &__header {
    }
  }
}
.sidebar {
  width: 20%;
}
@media screen and (max-width: 1150px) {
  .main-wrapper {
    flex-direction: column;
    margin: 1.5rem 1.5rem 1.5rem 1.5rem;
    .main {
      width: 100%;
    }
  }
}
@media screen and (max-width: 1150px) {
  .sidebar {
    width: 100%;
  }
}
