<header class="header">
  <nav class="navigation">
    <ul class="navigation__items">
      <li class="navigation__item">
        <a
          routerLink="/"
          class="navigation__link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >{{ title }}</a
        >
      </li>
      <li class="navigation__item">
        <a
          [routerLink]="['/cart']"
          class="navigation__link"
          routerLinkActive="active"
          >Cart</a
        >
      </li>
    </ul>
  </nav>
</header>
