.shop {
  background-color: rgb(241, 237, 237);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 5px black;
}

.shop__heading {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop__heading-title {
}

.shop__heading-breadcrumbs {
}

.shop__filter {
  display: flex;
  margin: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(223, 215, 215);
  height: 3rem;
  padding: 1.5rem;
}

.shop__filter-text {
}

.shop__filter-sort {
}

.shop__grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 1.5rem;
}

.shop__icon {
}

#newItemButton {
  height: 60px;
  width: 60px;
  position: fixed;
  right: 5%;
  bottom: 3%;
  color: navy;
  background-color: transparent;
  background-image: url("../../../assets/Add/48_Add.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(241, 237, 237);
  border-radius: 40%;
  border: none;
  box-shadow: 0px 0px 5px 5px rgb(241, 237, 237);
}

#newItemButton:hover {
  background-size: cover;
}
