.navigation__link:hover {
  color: rgb(127, 127, 161);
  cursor: pointer;
}

.product__add:hover {
  /* font-weight: bold; */
  width: 60%;
}

.product:hover {
  box-shadow: 0px 0px 5px 10px navy;
}

.product:hover .product__edit {
  visibility: visible;
  position: absolute;
  left: 5%;
  top: 5%;
  box-shadow: 0px 0px 10px 5px navy;
  background-color: navy;
  color: white;
  font-size: large;
  border: none;
  padding: 0.25rem 1rem 0.25rem 1rem;
  width: 25%;
  transition: width 0.5s;
  transition-timing-function: ease;
}

.product:hover .product__edit:hover {
  width: 40%;
}
.sidebar__section > ul > li:hover {
  color: navy;
}

#newItemButton:hover {
  background-size: cover;
}

.loader-large {
  margin: auto;

  border-radius: 50%;
  border-top: 1rem solid #3498db;
  border-bottom: 1rem solid #3498db;

  width: 4rem;
  height: 4rem;
  animation: spin 0.5s linear infinite;
}

.loader-small {
  margin: auto;
  border-radius: 50%;
  border-top: 0.25rem solid #3498db;
  border-bottom: 0.25rem solid #3498db;

  width: 1rem;
  height: 1rem;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
