.navigation__link:hover {
  color: rgb(127, 127, 161);
  cursor: pointer;
}

.product__add:hover {
  /* font-weight: bold; */
  width: 60%;
}

.product:hover {
  box-shadow: 0px 0px 5px 10px navy;
}

.sidebar__section > ul > li:hover {
  color: navy;
}

#newItemAddButton:hover {
  background-size: cover;
}
