.product {
  border: solid navy 1px;
  margin: 0.5rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 5px grey;
  position: relative;
  transition: box-shadow 0.3s;
  transition-timing-function: ease;
  padding: 0.5rem;
  border-radius: 1.5rem;
}

.product:hover {
  box-shadow: 0px 0px 5px 10px navy;
}

.product__edit {
  visibility: hidden;
  position: absolute;
}

.product:hover .product__edit {
  visibility: visible;
  left: 5%;
  top: 5%;
  box-shadow: 0px 0px 10px 5px navy;
  background-color: navy;
  color: white;
  font-size: large;
  border: none;
  padding: 0.25rem 1rem 0.25rem 1rem;
  width: 25%;
  transition: width 0.5s;
  transition-timing-function: ease;
}

.product:hover .product__edit:hover {
  width: 40%;
}

.product__image {
  width: 80%;
}

.product__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  font-weight: bold;
}

.product__info-name {
  display: flex;
  /* justify-content: center; */
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product__info-price {
  color: navy;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 200%;
}

.product__info-price--old {
  color: gray;
  padding: 0.5rem;
  font-weight: bold;
  text-decoration: line-through;
}

.product__add {
  padding: 1rem;
  margin: 1rem;
  width: 50%;
  border: none;
  background-color: navy;
  color: white;
  font-size: large;
  transition: width 0.5s;
  transition-timing-function: ease;
  box-shadow: 0px 0px 10px 5px navy;
  font-weight: bold;
}

.product__add:hover {
  /* font-weight: bold; */
  width: 60%;
}

.product.sale::after {
  position: absolute;
  top: 5%;
  right: 3%;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-weight: bold;

  /* background: rgb(0, 0, 36); */
  background: linear-gradient(
    90deg,
    rgba(0, 0, 36, 1) 0%,
    rgba(0, 0, 128, 1) 12%,
    rgba(0, 0, 36, 1) 88%
  );
  color: white;
  box-shadow: 0px 0px 10px 5px navy;
  transform: rotate(-5deg);
  content: "SALE";
}
