.product {
  border: solid navy 1px;
  margin: 0.5rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px grey;
  position: relative;
}

.product__image {
  width: 100%;
}

.product__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__add {
  padding: 1rem;
  margin: 1rem;
  width: 50%;
  border: none;
  background-color: navy;
  color: white;
  box-shadow: 2px 2px 5px grey;
  font-size: large;
}

.product__sale {
  position: absolute;
  top: 10%;
  right: 0;
  background-color: navy;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  color: white;
}
